.iphoneDetails{
    background-image: url(../../../../../assets/Images/iPhone-Repair-etobicoke\ 1.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 450px;
}

.iphoneP{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.11);
    margin-bottom: 2px;
    border-radius: 3px;
}