.iPhoneId {
    background-image: url(../../../../../assets/Images/iPhone-Repair-etobicoke\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
}

.ww {
    width: 55%;
}

.iphoneP {
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0); */
    margin-bottom: 4px;
    /* border-radius: 3px; */
    transition: all ease 0.5s;
    border-left: 3px solid rgba(0, 0, 0, 0.11);

}

.iphoneP:hover {
    background-color: blueviolet;
    background-color: rgba(0, 0, 0, 0.11);
}

.link-container {
    position: relative;
}

/* .allLink {
    background-color: white;
    position: absolute;
    top: -250px;
    left: 0;
    overflow: auto;
    width: 190px;
    height: 600px;
} */


.allLink {
    background-color: white;
    position: absolute;
    top: -250px;
    left: 0;
    overflow: auto;
    width: 190px;
    height: 600px;
}

.allLink::-webkit-scrollbar {
    width:5px;
}

.allLink::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    /* border-radius:5px; */
}
.allLink::-webkit-scrollbar-thumb {
    border-radius:5px;
    /* -webkit-box-shadow: inset 0 0 6px red;  */
    background-color: rgba(128, 128, 128, 0.488);
}







.qq {
    position: sticky;
    top: 0px;
    background-color: white;
    margin: 0;

}