.form-container{
    width: 30%;
    background-color: rgba(128, 128, 128, 0.202);
}


.login-icon{
font-size: 110px;
background-color: white;
border-radius: 50%;
text-align: center;
display: block;
margin: 0 auto;
margin-top: -70px;
padding-bottom: 5px;
border: 1px gray solid;
color: rgb(128, 128, 128);
}

@media only screen and (max-width: 550px){
    .form-container{
        
        width: 100%;
    }
}