.informationBanner{
    background-image: url(../../../assets/Images/InformationBanner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
    background-attachment:fixed;
}