*{
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 14px;
	/* color: #444; */
	/* background: #fff; */
	font-weight: 500;
    font-family:"Poppins"
}

h1, h2, h3, h4, h5, h6 {
	/* font-weight: 700; */
	margin-top: 0;
}

a{
	color: #111;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}
a, a:hover, a:focus{
	text-decoration: none !important;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
img{
	max-width: 100%;
	/* height: auto; */
}

@media (min-width: 1300px){
	.container {
	  max-width: 1250px;
	}
}

/*
*****************************
**********	Header **********
*****************************
*/
.header-area {
    background: #e6e6e6;
    z-index: 99;
  }
  .navbar-toggler {
      padding: .25rem .60rem;
      background-color: #202135;
      color: #fff;
  }
  .navbar-brand img {
      max-width: 140px;
  }
  .navbar-expand-lg .navbar-nav .login {
      display: inline-block;
      padding: 3px 15px;
      line-height: 19px;
      margin-top: 6px;
      text-transform: uppercase;
      font-size: 11px;
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.519);
  }
  .navbar-expand-lg .navbar-nav .nav-item {
      margin-left: 10px;
  }
  .navbar-nav .dropdown-menu {
      right: 0;
      left: auto;
      padding: 30px;
      text-align: center;
      box-shadow: 0px 2px 1px #a9a9a9;
      width: 300px;
  }
  .cart-dropdown-box i {
      font-size: 54px;
      color: #007bff;
  }
  .dropdown-toggle::after {
      content: none;
  }
  .navbar-nav .dropdown-menu.show::before {
      position: absolute;
      content: '';
      right: 30px;
      width: 15px;
      height: 15px;
      background: #fff;
      top: -6px;
      transform: rotate(45deg);
  }

  
/*
*****************************
**********	Search **********
*****************************
*/

