.footer{
    margin-top: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #ECEFF1;
}

.footer-icon{
    font-size: 20px;
    margin-right: 6px;
}

.footerIcon{
    font-size: 24px;
    margin-right: 6px;
}

.copy-write{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #CFD8DC;
}

.f-mu-icon{
font-size: 20px;
}